body {
    color: white;
    background-color: #151618;
    font-family: 'Lexend', 'Segoe UI', Arial, sans-serif;
}

#artslide-title {
    margin: 40px 0;
    font-size: 10vw;
    background: linear-gradient(-45deg, #780987, #E018FB, #816AEF, #4D97E8, #1BC3E1, #A2E8F5);
    background-size: 200% 200%;
	animation: title-gradient 15s ease infinite;
    background-clip: text;
    color: transparent;
}
@keyframes title-gradient {
	0% {
		background-position: 0% 0%;
	}
	50% {
		background-position: 100% 100%;
	}
	100% {
		background-position: 0% 0%;
	}
}

.textbox {
    width: 40vw;
    margin-left: 5vw;
}

.links {
    display: flex;
    align-items: center;
    height: 50px;
}

.links * img {
    height: 50px;
    padding-left: 30px;
}

.caption {
    margin-top: -12px;
    margin-left: 3vw;
    color: rgb(168, 168, 168);
}

#showcase {
    position: absolute;
    width: 40vw;
    top: 3.25rem;
    right: 5vw;
}


@media (max-width: 800px) {
    #showcase {
        top: 12rem;
    }
}