body {
    color: white;
    background-color: #151618;
    font-family: 'Lexend', 'Segoe UI', Arial, sans-serif;
}

#tile-slider-title {
    margin: 40px 0;
    font-size: 10vw;
    /* animated gradient */
}

.textbox {
    width: 40vw;
    margin-left: 5vw;
}

.links {
    display: flex;
    align-items: center;
    height: 50px;
}

.links * img {
    height: 50px;
    padding-left: 30px;
}

.caption {
    margin-top: -12px;
    margin-left: 3vw;
    color: rgb(168, 168, 168);
}

#showcase {
    position: absolute;
    width: 40vw;
    top: 3.25rem;
    right: 5vw;
}


@media (max-width: 800px) {
    #showcase {
        top: 12rem;
    }
}